h1{
    color: red;
    font-family: arial;
    font-size: 2em;
    font-weight: bold;
}
h2{
    color: blue;
    font-family: cursive;
    font-size: 1.5em;
    font-style: italic;
}
h3{
    color: green;
    font-family: fantasy;
    font-size: 15px;
    font-weight: normal;
}
h4{
    color: brown;
    font-family: monospace;
    font-size: 15pt;
    font-weight: normal;
}